/* PAGES ELEMENTS */
.main_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 16px;
}

.main_container > p {
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
}

.main_inner{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
}

.movie_container {
    width: 50%;
    min-width: 164px;
    position: relative;
}

.movie_container > .main_image{
    width: 100%;
    object-fit: scale-down;
    border-radius: 15px;

}

.movie_container > .bookmark_logo{
    background-color: rgba(90, 105, 143, 0.65);
    display: flex;;
    width: 32px;
    height: 32px;;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: center;
    justify-content: center;
}

.elements_container > .inner_container{
    display: flex;
    gap: 6px;
    font-size: 0.6875rem;
    font-weight: 100;
}

.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot > p{
    position: absolute;
    top: -3px;
}

.movie_container > p {
    font-size: 0.875rem;
    font-weight: 300;
}

.search_container{
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em  0 1em 16px;
}

.search_container > img{
   width: 24px;
}

.search{
    height: 100%;;
    background-color: transparent;
    border: none;
    width: 100%;
    resize: none;
    font-family: "Outfit", sans-serif;
    line-height: 34px;
    font-size: 1rem;
    font-weight: 200;
    color: white;
}


