.site_wrapper{
    /* width: 100vw; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 24px; */
}

.header_container,
.nav_container{
    display: flex;
}

.header_container{
    /* position:fixed; */
    /* width: 100vw; */
    height: 56px;
    justify-content: space-between;
    background-color: var(--semi-dark-blue);
    align-items: center;
    padding: 0 1em;
    border: 1px solid green;

}

.header_container > img {
    width: 24px;
    object-fit: scale-down;
}

.nav_container{
    /* justify-content: space-between; */
    gap: 1.5em;
    border: 1px solid red;
}
.nav_container > img{
    width: 16px;
    object-fit: scale-down;
}

.active{
    color: var(--clr-white);
    width: 7rem;
}

/* TRENDING COMPONENT */
.trend_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.trend_container > p {
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
}

.trend_inner{
    display: flex;
    gap: 16px;
}

.top_container{
    position: relative;
}

.main_image{
    width: 240px;
    object-fit: scale-down;
    position: relative;
    border-radius: 5px;
}

.elements_container{
    position: absolute;
    width: 100%;
    padding: 10px;
    display: grid;
    top: 0;
}

.element_inner_container{
    display: flex;
    gap: 6px;
    margin-top: 55px;
    font-weight: 100;
}

.element_inner_container > p {
    font-size: .75rem;
}

.separator{
    vertical-align: middle;
    line-height: 1;
}

.cat_text > span {
    margin-right: 4px;
}

.bookmark_img{
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(90, 105, 143, 0.75);;
    margin-left: 85%;
}